@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', 'Helvetica';
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
    cursor: default;
    padding-left: 180px;
    padding-right: 180px;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    color: #dedede;
    padding: 0px 45px;
    height: 8vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .3s;
}

.logo {
    font-weight: 600;
}

.toggle, .sidebar {
    display: none;
}

nav a {
    color: #dedede;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;

    li {
        position: relative;
    }
}

nav a:after {
    content: '';
    position: absolute;
    background-color: #dedede;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .3s;
}

nav a:hover:after {
    width: 100%;
}

/* HEADER END */

/* HERO SECTION */
.hero {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:
        linear-gradient(#10101099, #10101099),
        url(image.png);
    background-size: cover;
    background-position: 0 -30px;
    color: #dedede;
}

h1 {
    font-weight: 200;
    font-size: 50px;
    margin: 10px 0;
}

h2 {
    font-weight: 200;
    font-size: 35px;
    margin-top: 30px;
}

hr {
    width: 100px;
    border-top: 1px solid #101010;
    outline: none;
    margin: 20px 0;
}

main .desc {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.hero .nav {
    margin-top: 50px;
    display: flex;
    gap: 30px;

    a {
        padding: 12px 60px;
    }
}

/* HERO SECTION END */

.btn {
    border-radius: 60px;
    padding: 5px 10px;
    display: block;
    width: fit-content;
}

.btn:hover {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.256);
}

.black {
    color: #eeeeee;
    background-color: #101010;
    border: 1px solid #101010;
}

.black:hover {
    color: #101010;
    background-color: transparent;
    border: 1px solid #101010;
}

.white {
    color: #101010;
    background-color: #dedede;
    border: 1px solid #dedede;
}

.white:hover {
    color: #dedede;
    background-color: transparent;
    border: 1px solid #dedede;
}

.fas,
.fab {
    display: flex !important;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        padding: 10px;
    }
}

/* SECTION PROJECT */
.my-project {
    margin: 100px 0;

    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

.my-project .list {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.judul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.my-project .list .project {
    flex: 1;
    border: 1px solid #101010;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

    a {
        margin-top: 10px;
    }

}

p {
    line-height: 25px;
}

.my-project .judul img {
    border: 1px solid #101010;
    width: 25px;
    height: 25px;
    padding: 15px;
    border-radius: 200px;
}

/* SECTION PROJECT END */

main>hr {
    margin: auto;
    width: 20%;
}

/* SECTION ABOUT */
.about {
    margin: 200px 0;
}

/* SECTION ABOUT END */

@media only screen and (max-width: 768px) {
    header {
        padding: 30px;
    }

    .sidebar {
        position: fixed;
        display: flex;
        transition: .3s;
        flex-direction: column;
        gap: 30px;
        background-color: #101010;
        height: 100%;
        width: 20%;
        padding: 20px;
        right: -100%;

        a {
            color: #dedede;
        }
    }

    .active {
        right: 0;
    }

    nav ul {
        display: none;
    }

    .toggle {
        display: block;
    }

    section {
        padding: 0 30px;
    }

    .hero {
        background-position: center;
    }

    .nav a {
        padding: 12px 30px !important;
    }

    .my-project .list {
        flex-direction: column;
    }
}